In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/amanv/Desktop/Grim/Verzeo/MAJOR-PROJECT/Information.csv",encoding='latin-1')

In [3]:
df

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,ÛÏIt felt like they were my friends and I was...,NaN,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,...,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462,10/26/15 12:40,6.587300e+17,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20045,815757572,True,golden,259,NaN,female,1.0000,yes,1.0,8/5/15 21:16,...,https://pbs.twimg.com/profile_images/656793310...,0,C0DEED,"@lookupondeath ...Fine, and I'll drink tea too...",NaN,783,10/26/15 13:20,6.587400e+17,Verona ªÁ,NaN
20046,815757681,True,golden,248,NaN,male,1.0000,yes,1.0,8/15/12 21:17,...,https://pbs.twimg.com/profile_images/639815429...,0,0,Greg Hardy you a good player and all but don't...,NaN,13523,10/26/15 12:40,6.587300e+17,"Kansas City, MO",NaN
20047,815757830,True,golden,264,NaN,male,1.0000,yes,1.0,9/3/12 1:17,...,https://pbs.twimg.com/profile_images/655473271...,0,C0DEED,You can miss people and still never want to se...,NaN,26419,10/26/15 13:20,6.587400e+17,Lagos Nigeria,NaN
20048,815757921,True,golden,250,NaN,female,0.8489,yes,1.0,11/6/12 23:46,...,https://pbs.twimg.com/profile_images/657716093...,0,0,@bitemyapp i had noticed your tendency to pee ...,NaN,56073,10/26/15 12:40,6.587300e+17,Texas Hill Country,NaN
20049,815757985,True,golden,249,NaN,female,1.0000,yes,1.0,4/14/14 17:22,...,https://pbs.twimg.com/profile_images/655134724...,0,C0DEED,I think for my APUSH creative project I'm goin...,NaN,2922,10/26/15 13:19,6.587400e+17,NaN,NaN

In [4]:
df.isna().sum(),df.columns

(_unit_id                     0
 _golden                      0
 _unit_state                  0
 _trusted_judgments           0
 _last_judgment_at           50
 gender                      97
 gender:confidence           26
 profile_yn                   0
 profile_yn:confidence        0
 created                      0
 description               3744
 fav_number                   0
 gender_gold              20000
 link_color                   0
 name                         0
 profile_yn_gold          20000
 profileimage                 0
 retweet_count                0
 sidebar_color                0
 text                         0
 tweet_coord              19891
 tweet_count                  0
 tweet_created                0
 tweet_id                     0
 tweet_location            7484
 user_timezone             7798
 dtype: int64,
 Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
        '_last_judgment_at', 'gender', 'gender:confidence', 'profile_yn',
        'profile_yn:confidence', 'created', 'description', 'fav_number',
        'gender_gold', 'link_color', 'name', 'profile_yn_gold', 'profileimage',
        'retweet_count', 'sidebar_color', 'text', 'tweet_coord', 'tweet_count',
        'tweet_created', 'tweet_id', 'tweet_location', 'user_timezone'],
       dtype='object'))

# Cleaning of Dataset

In [5]:
df=df[['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
        '_last_judgment_at', 'gender', 'gender:confidence', 'profile_yn',
        'profile_yn:confidence', 'created', 'description', 'fav_number',
         'link_color', 'name', 'profileimage',
        'retweet_count', 'sidebar_color', 'text', 'tweet_count',
        'tweet_created', 'tweet_id']]
df=df.dropna()

In [6]:
df=df[df['gender']!='unknown']
df=df[df['gender']!='brand']
df['gender'].unique()

array(['male', 'female'], dtype=object)

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le=LabelEncoder()
df['gender']=le.fit_transform(df['gender'])

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
cv= CountVectorizer()
matrix=cv.fit_transform(df['description'])

# Splitting of Dataset

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(matrix,df['gender'])

# Multinomial Naive Bayes

In [12]:
from sklearn.naive_bayes import MultinomialNB

In [13]:
nv=MultinomialNB()
nv.fit(X_train,Y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [14]:
y_pred=nv.predict(X_test)

In [15]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,y_pred)

0.6689358652812611

# Logistic Regression

In [16]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train,Y_train)

C:\Users\amanv\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
y_pred1=nv.predict(X_test)
accuracy_score(Y_test,y_pred1)

0.6689358652812611

# Support Vector Machine

In [120]:
from sklearn.svm import SVC
svc=SVC()
svc.fit(X_train,Y_train)
Y_pred2=svc.predict(X_test)
accuracy_score(Y_test,Y_pred2)

C:\Users\amanv\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.5130777499104263

# K Nearest Neighbours

In [119]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=8)
knn.fit(X_train,Y_train)
Y_pred1=knn.predict(X_test)
accuracy_score(Y_test,Y_pred1)

0.5263346470798996

# NLP with Random Forest

In [79]:
import nltk

nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\amanv\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [80]:
from nltk.tokenize import word_tokenize

In [75]:
from nltk.corpus import stopwords

In [76]:
stoplist=list(stopwords.words('english'))

In [103]:
clean_txt=[]
for i in range(df.shape[0]):
    t_msg=df['text'].values[i]
    tokens=word_tokenize(t_msg)
    text=''
    i=0
    for word in tokens:
        if not word in stoplist and word !='@':
            if tokens[i-1] !='@':
                text+=word+' '
        i+=1
    clean_txt.append(text)
len(clean_txt)

11162

In [104]:
df['clean_txt']=clean_txt
df[['text','clean_txt']]

,text,clean_txt
0,Robbie E Responds To Critics After Win Against...,Robbie E Responds To Critics After Win Against...
1,ÛÏIt felt like they were my friends and I was...,ÛÏIt felt like friends I living story themÛ...
2,i absolutely adore when louis starts the songs...,absolutely adore louis starts songs hits hard ...
3,Hi @JordanSpieth - Looking at the url - do you...,Hi - Looking url - use ? ! Do n't typically se...
4,Watching Neighbours on Sky+ catching up with t...,Watching Neighbours Sky+ catching Neighbs ! ! ...
...,...,...
19994,Nothing like slipping at school running to you...,Nothing like slipping school running car getti...
19995,Seriously love Trent and Justin. Would do anyt...,Seriously love Trent Justin . Would anything d...
19996,One person can look at you like your the most ...,One person look like beautiful thing inside ne...
19997,These 24 Wedding Photobombs Made The Bride And...,These 24 Wedding Photobombs Made The Bride And...
19998,So I am riding around and I saw a horse runnin...,"So I riding around I saw horse running , right..."

In [109]:
matrix1=cv.fit_transform(df['clean_txt'])
matrix1

<11162x22166 sparse matrix of type '<class 'numpy.int64'>'
	with 108756 stored elements in Compressed Sparse Row format>

In [110]:
from scipy.sparse import hstack
matrix=hstack((matrix, matrix1))

In [111]:
matrix

<11162x48180 sparse matrix of type '<class 'numpy.int64'>'
	with 234868 stored elements in COOrdinate format>

In [18]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train, Y_train)
# prediction
y_pred = rf.predict(X_test)

C:\Users\amanv\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [19]:
accuracy_score(Y_test,y_pred)

0.6230741669652454